/tictactoe-demo/.project
/tictactoe-demo/.settings
/tictactoe-demo/target
/tictactoe-demo/.classpath
/tictactoe-addon/.project
/tictactoe-addon/.settings
/tictactoe-addon/target
/tictactoe-addon/.classpath
